$text: sans-serif;
$size: 25px; 
$letter: 0.1em;
$color_white: #fff;
$color_gray: #c3cfe2;
$color_purple: #686de0;


@mixin private {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin trans {
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    width: auto;
    position: relative;
}

@mixin hov {
    border-radius: 10px;
    width: auto;
    background-color: rgb(17, 8, 74);
    transform: rotate(0deg);
}

@mixin flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: flex-start;
    transition: 2s width ease-in, 0.5s width ease-in-out 0.5s;   
}

@mixin hover_social {
    width: 400px;
    height: 50px;
    opacity: 1;
    transform: translate(-0px);
}